<!DOCTYPE html>
<html>
<head>
  <title>Helppen!</title>
  <link href="./components/angular-material/angular-material.css" rel="stylesheet" />
</head>
<body ng-app="starterApp" layout="column" ng-cloal>
  <md-toolbar md-scroll-shrink >
    <div class="md-toolbar-tools">
      <h1>Helppen!</h1>
    </div>
  </md-toolbar>

  <div layout="row" layout-align="center center" layout-fill>
    <md-whiteframe class="md-whiteframe-z1" layout="column" flex="50" flex-sm="100" layout-padding>
      <md-content layout-padding>
        <form action="/" method="post" >
          <div layout="row" >
            <h3>Enter you login and password</h3>
          </div>
          <div layout="row" >
            <md-input-container flex="80" >
              <label>Email</label>
              <input name="login" required>
            </md-input-container>
          </div>
          <div layout="row" >
            <md-input-container flex="80" >
              <label>Password</label>
              <input name="password" type="password" required>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container>
              <div layout="row" layout-sm="column" layout-margin>
                <md-button class="md-raised" flex="50" flex-sm="100" type="submit">Login</md-button>
              </div>
            </md-input-container>
          </div>
        </form>
      </md-content>
    </md-whiteframe>
  </div>

  <script src="./components/angular/angular.js" type="text/javascript" ></script>
  <script src="./components/angular-animate/angular-animate.js" type="text/javascript" ></script>
  <script src="./components/angular-aria/angular-aria.js" type="text/javascript" ></script>
  <script src="./components/angular-material/angular-material.js" type="text/javascript" ></script>

  <script>
    angular.module('starterApp', ['ngMaterial']);
  </script>
</body>
</html>

